@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@model IEnumerable<TOLEAGRI.Model.Domain.Peca>
@{
    ViewData["Title"] = "EstoqueIndex";
    var PecasOrdenados = Model.OrderBy(c => c.CodigoSistema).ToList();
}
@{
    var isAdmin = User.IsInRole("Admin");
}

<div id="container" class="container">
        <div class="barra_tarefas">
            <div>
                <a class="btn btn-dark border-light ml-1" onClick="ModalEntradaEstoque()">
                    <img src="~/Images/entrada.png" style="width:40px" />
                    Entrada
                </a>
                <a class="btn btn-dark border-light ml-1" onClick="ModalSaidaEstoque()">
                    <img src="~/Images/saida.png" style="width:40px" />
                    Saída
                </a>
            <a class="btn btn-dark border-light ms-1" type="button" asp-controller="Registro" asp-action="RegistroIndex">
                    <img src="/Images/abrirRegistro.png" alt="Relogio" class="custom-logo" style="width:43px;" />
                    Registros
                </a>
            </div>

            <div class="search_bar">
            <input type="text" id="searchBarPeca" style="height:40px;width:265px;margin-right:5px" class="form-control btn-dark border-light search" placeholder="Buscar" onkeydown="EnterPeca(event)">
            <input type="date" id="start-date" style="height:40px;width:150px;margin-right:5px" class="form-control btn-dark border-light search">
            <input type="date" id="end-date" style="height:40px;width:150px" class="form-control btn-dark border-light search">
                <a id="searchIconPecas" onclick="searchIconPecas()">
                    <img src="~/Images/Pesquisa.png" style="width:25px;margin-top:5px;margin-left:5px" />
                </a>
            </div>
    </div>
    <table class="table table-hover table-bordered table-dark">
        <thead >
            <tr >
                <th onclick="sortTablePecas(0)">Código</th>
                <th onclick="sortTablePecas(1)">Locação</th>
                <th onclick="sortTablePecas(2)">Marca</th>
                <th onclick="sortTablePecas(3)">Modelo</th>
                <th onclick="sortTablePecas(4)">Quantidade</th>
                <th onclick="sortTablePecas(5)">NF ou Pedido</th>
                <th onclick="sortTablePecas(6)">Observação</th>
                <th onclick="sortTablePecas(7)">Usuário</th>
                <th onclick="sortTablePecas(8)">Data</th>
                @if (isAdmin)
                    {
                        <th style="width:1px">
                            <a>
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </th>
                    }
            </tr>
        </thead>
        <tbody id="pecas-list" onload="sortTableChamados(8)">
            @foreach (var item in PecasOrdenados)
            {
                <tr class="peca-row">
                    <td>@item.CodigoSistema</td>
                    <td>@item.Locacao</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Quantidade</td>
                    <td>@item.NotaOuPedido</td>
                    <td>@item.Observacao</td>
                    <td>@item.Usuario</td>
                    <td>@item.Data.ToShortDateString()</td>
                    @if (isAdmin)
                    {
                        <td style="width:1px">
                            <a onClick="ModalDeletarPeca(@item.Id)">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/EstoqueScript.js"></script>
<script src="~/js/ManagerScript.js"></script>
