@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@model IEnumerable<TOLEAGRI.Model.Domain.Peca>
@{
    ViewData["Title"] = "EstoqueIndex";
    var PecasOrdenados = Model.OrderBy(c => c.CodigoSistema).ToList();
}
@{
    var isAdmin = User.IsInRole("Admin");
}

<div id="container" class="container">
    <div>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div>
                <a class="btn btn-outline-secondary" onClick="ModalEntradaSaidaEstoque()">
                    <img src="~/Images/abrirModalEntradaSaida.png" style="width:45px" />
                </a>
            </div>
            <div>
                <a class="btn btn-outline-secondary " type="button" asp-controller="Estoque" asp-action="EstoqueIndex">
                    <img src="/Images/abrirEstoque.png" alt="Logo" class="custom-logo" style="width:40px" />
                </a>
            </div>
            <div>
                <a class="btn btn-outline-secondary ms-1 me-4" type="button" asp-controller="Registro" asp-action="RegistroIndex">
                    <img src="/Images/abrirRegistro.png" alt="Relogio" class="custom-logo" style="width:43px;" />
                </a>
            </div>

            <div style="display:flex">
                <input type="text" id="searchBarPeca" style="height:40px;width:265px" class="form-control search" placeholder="Buscar" onkeydown="EnterPeca(event)">
                <input type="date" id="start-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Inicial">
                <input type="date" id="end-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Final">
                <a id="searchIconPecas" onclick="searchIconPecas()">
                    <img src="~/Images/Pesquisa.png" style="width:25px;margin-top:5px;margin-left:5px" />
                </a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th onclick="sortTablePecas(0)">Código</th>
                <th onclick="sortTablePecas(1)">Locação</th>
                <th onclick="sortTablePecas(2)">Marca</th>
                <th onclick="sortTablePecas(3)">Modelo</th>
                <th onclick="sortTablePecas(4)">Quantidade</th>
                <th onclick="sortTablePecas(5)">NF ou Pedido</th>
                <th onclick="sortTablePecas(6)">Observação</th>
                <th onclick="sortTablePecas(7)">Usuário</th>
                <th onclick="sortTablePecas(8)">Data</th>
                @if (isAdmin)
                    {
                        <th style="width:1px">
                            <a onClick="ModalDeletarAllPeca()">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </th>
                    }
            </tr>
        </thead>
        <tbody id="pecas-list">
            @foreach (var item in PecasOrdenados)
            {
                <tr class="peca-row">
                    <td>@item.CodigoSistema</td>
                    <td>@item.Locacao</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Quantidade</td>
                    <td>@item.NotaOuPedido</td>
                    <td>@item.Observacao</td>
                    <td>@item.Usuario</td>
                    <td>@item.Data.ToShortDateString()</td>
                    @if (isAdmin)
                    {
                        <td style="width:1px">
                            <a onClick="ModalDeletarPeca(@item.Id)">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/EstoqueScript.js"></script>
<script src="~/js/ManagerScript.js"></script>
