@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@model IEnumerable<TOLEAGRI.Model.Domain.Peca>
@{
    ViewData["Title"] = "EstoqueIndex";
    var PecasOrdenados = Model.OrderByDescending(e => e.Data.Date).ToList();
}
@{
    var isAdmin = User.IsInRole("Admin");
}



<div id="container" class="container">
    <div>
        <a class="btn btn-dark border-light Regbtn" type="button" asp-controller="Registro" asp-action="RegistroIndex">
        <img src="/Images/abrirRegistro.png" alt="Relogio" class="Reglogo" />
        Registros
    </a>


    </div>
    <table class="table table-hover table-bordered table-dark">
        <thead >
            <tr >
                <th onclick="sortTablePecas(0)">Código</th>
                <th onclick="sortTablePecas(1)">Locação</th>
                <th onclick="sortTablePecas(2)">Marca</th>
                <th onclick="sortTablePecas(3)">Modelo</th>
                <th onclick="sortTablePecas(4)">Quantidade</th>
                <th onclick="sortTablePecas(8)">Data da ultima entrada</th>
                @if (isAdmin)
                    {
                        <th style="width:1px">
                            <a onClick="ModalDeleteAllPeca()">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </th>
                    }
            </tr>
        </thead>
        <tbody id="pecas-list" onload="sortTableChamados(8)">
            @foreach (var item in PecasOrdenados)
            {
                <tr class="peca-row">
                    <td class="@(item.CodigoSistema == item.CodigoSistema ? "text-danger" : "")">
                        @item.CodigoSistema
                    </td>
                    <td class="@(item.Locacao == item.Locacao ? "text-warning" : "")">
                        @item.Locacao
                    </td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Quantidade</td>
                    <td>@item.Data.ToShortDateString()</td>
                    @if (isAdmin)
                    {
                        <td style="width:1px">
                            <a onClick="ModalDeletarPeca(@item.Id)">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/EstoqueScript.js"></script>
<script src="~/js/ManagerScript.js"></script>
