@model IEnumerable<TOLEAGRI.Model.Domain.Peca>
@{
    ViewData["Title"] = "Pecas";
    var historicoList = Model.OrderByDescending(c => c.DataSaida.Date).ToList();
}

<div style="padding:40px" id="container" class="justify-content-between">
    <div>
        <h1 class="text-center mb-3">Estoque</h1>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div>
                <a type="button" asp-controller="Estoque" asp-action="Index" class="btn btn-outline-dark">Estoque</a>
            </div>
            <div style="display:flex">
                <input type="text" id="Pesquisa" class="form-control" placeholder="Buscar">
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Locação</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Quantidade Ent.</th>
                <th>Quantidade Saída</th>
                <th>Data de entrada</th>
                <th>Data de Saída</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in historicoList)
            {
                <tr class="peca-row">
                <td>@item.CodigoSistema</td>
                <td>@item.Locacao</td>
                <td>@item.Marca</td>
                <td>@item.Modelo</td>
                <td>@item.QuantidadeEntrada</td>
                <td>@item.QuantidadeSaida</td>
                <td>@item.DataEntrada</td>
                <td>@item.DataSaida</td>
                <td>@item.Observacao</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

</script>