@model IEnumerable<TOLEAGRI.Model.Domain.Estoque>
@{
    ViewData["Title"] = "Estoques";
    var estoquesOrdenados = Model.OrderByDescending(c => c.CodigoSistema).ToList();
}

<div style="padding:40px" id="container" class="justify-content-between">
    <div>
        <h1 class="text-center mb-3">Estoque</h1>
        @* <div class="mb-4" style="display:flex;justify-content:space-between">
            <div>
                <a class="btn btn-outline-dark" id="btn-CriarChamado">Criar um chamado</a>
                <a type="button" asp-controller="Cliente" asp-action="Index" class="btn btn-outline-dark">Clientes</a>
                <a type="button" asp-controller="Chamado" asp-action="Historico" class="btn btn-outline-dark">Histórico</a>
            </div>
            <div style="display:flex">
                <input type="text" id="Pesquisa" class="form-control" placeholder="Buscar">
            </div>
        </div> *@
    </div>
    <div">
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Locação</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Quantidade</th>
                <th>Quantidade de saida</th>
                <th>Data de envio</th>
                <th>Observação</th>
                <th style="width:75px">Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in estoquesOrdenados)
            {
                <tr>
                    <td>@item.CodigoSistema</td>
                    <td>@item.Locacao</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Quantidade</td>
                    <td>@item.QuantidadeSaida</td>
                    <td>@item.DataEnvio</td>
                    <td>@item.Observacao</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>