@model IEnumerable<TOLEAGRI.Model.Domain.Peca>
@{
    ViewData["Title"] = "Pecas";
    var PecasOrdenados = Model.OrderBy(c => c.CodigoSistema).ToList();
}

<div style="padding:40px" id="container" class="justify-content-between">
    <div>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div>
                <a class="btn btn-outline-dark" onClick="ModalEntradaSaidaEstoque()" id="btn-EntradaSaidaEstoque">Entrada/Saída</a>
            </div>
            <div >
                <input type="text" id="search-input" class="form-control search" placeholder="Buscar" onkeydown="handleKeyDown(event)">
                @* <input type="text" id="Pesquisa" class="form-control, search" onblur="this.placeholder = 'search'" placeholder="Buscar"> *@
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Locação</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Quantidade</th>
                <th>NF ou Pedido</th>
                <th>Observação</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="pecas-list">
            @foreach (var item in PecasOrdenados)
            {
                <tr class="peca-row">
                    <td>@item.CodigoSistema</td>
                    <td>@item.Locacao</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Quantidade</td>
                    <td>@item.NotaOuPedido</td>
                    <td>@item.Observacao</td>
                    <td>@item.Data.ToShortDateString()</td>
                    <td style="width:1px">
                        <a onClick="ModalDeletarEstoque(@item.Id)">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/site.js"></script>
