@model IEnumerable<TOLEAGRI.Model.Domain.Peca>
@{
    ViewData["Title"] = "Pecas";
    var PecasOrdenados = Model.OrderBy(c => c.CodigoSistema).ToList();
}

<div style="padding:40px" id="container" class="justify-content-between">
    <div>
        <h1 class="text-center mb-3">Estoque</h1>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div>
                <a class="btn btn-outline-dark" id="btn-EntradaSaidaEstoque">Entrada/Saída</a>
                <a type="button" asp-controller="Estoque" asp-action="Historico" class="btn btn-outline-dark">Histórico</a>
            </div>
            <div style="display:flex">
                <input type="text" id="Pesquisa" class="form-control" placeholder="Buscar">
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Locação</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Quantidade</th>
                <th>Observação</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in PecasOrdenados)
            {
                <tr class="peca-row">
                    <td>@item.CodigoSistema</td>
                    <td>@item.Locacao</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Quantidade</td>
                    <td>@item.Observacao</td>
                    <td>@item.Data</td>
                    <td style="width:1px">
                        <a onClick="ModalDeletarEstoque(@item.Id)">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    // $(document).ready(function () {
    //      $("#btn-EntradaSaidaEstoque").click(function (event) {
    //          event.preventDefault();

    //         $.get("/Estoque/ModalEntradaSaidaEstoque", function (data) {
    //              $("#modalTOLEAGRI").html(data);
    //              $("#modalEntradaSaidaEstoque").modal("show");
    //          });
    //      });
    //  });

    function ModalDeletarEstoque(idPeca) {
        event.preventDefault();

        $.get("/Estoque/ModalDeletarEstoque?id=" + idPeca, function (data) {
            $("#modalTOLEAGRI").html(data);
            $("#modalDeletarEstoque").modal("show");
        });
    }

    //         function ModalSaidaEstoque(idEstoque) {
    //             event.preventDefault();

    //             $.get("/Estoque/ModalSaidaEstoque", function (data) {
    //                 $("#modalTOLEAGRI").html(data);
    //                 $("#modalSaidaEstoque").modal("show");
    //             });
    //         });
    // });

</script>