@model IEnumerable<TOLEAGRI.Model.Domain.RegistroPeca>
@{
    ViewData["Title"] = "Registro";
    var RegistrosOrdenados = Model.OrderBy(c => c.CodigoSistema).ToList();
}

<div id="container">
    <div>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div></div>
            <div style="display:flex">
                <input type="text" id="search-input-registro" style="height:40px;width:265px" class="form-control search" placeholder="Buscar" onkeydown="handleKeyDownRegistro(event)">
                <input type="date" id="start-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Inicial">
                <input type="date" id="end-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Final">
                <a id="search-input-icon-registros" onclick="searchIconRegistros()" style="cursor: pointer;">
                    <img src="~/Images/Pesquisa.png" style="width:25px;margin-top:5px;margin-left:5px" />
                </a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Locação</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Quantidade</th>
                <th>NF ou Pedido</th>
                <th>Observação</th>
                <th>Usuário</th>
                <th>Data</th>
                <th>Entrada/Saída</th>
                <th style="width:1px">
                    <a onClick="ModalDeletarAllRegistro()">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                    </th>
            </tr>
        </thead>
        <tbody id="registros-list">
            @foreach (var item in RegistrosOrdenados)
            {
                <tr class="registro-row">
                    <td>@item.CodigoSistema</td>
                    <td>@item.Locacao</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Quantidade</td>
                    <td>@item.NotaOuPedido</td>
                    <td>@item.Observacao</td>
                    <td>@item.Usuario</td>
                    <td>@item.Data.ToShortDateString()</td>
                    <td>@item.EntradaOuSaida</td>
                    <td style="width:1px">
                    <a onClick="ModalDeletarRegistro(@item.Id)">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/site.js"></script>