@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@model IEnumerable<TOLEAGRI.Model.Domain.RegistroPeca>
@{
    ViewData["Title"] = "RegistroIndex";
    var RegistrosOrdenados = Model.OrderByDescending(r => r.Data.Date).ToList();
}

@{
    var isAdmin = User.IsInRole("Admin");
} 

<div id="container" class="container">
            <div>
                <a class="btn btn-dark border-light Estbtn" type="button" asp-controller="Estoque" asp-action="EstoqueIndex">
                    <img src="/Images/abrirEstoque.png" alt="Logo" class="custom-logo Estlogo" />
                    Estoque
                </a>
                </div>
            
    <table class="table table-hover table-bordered table-dark">
        <thead>
            <tr>
                <th onclick="sortTableRegistros(0)">Código</th>
                <th onclick="sortTableRegistros(1)">Locação</th>
                <th onclick="sortTableRegistros(2)">Marca</th>
                <th onclick="sortTableRegistros(3)">Modelo</th>
                <th onclick="sortTableRegistros(4)">Quantidade</th>
                <th onclick="sortTableRegistros(5)">NF ou Pedido</th>
                <th onclick="sortTableRegistros(6)">Observação</th>
                <th onclick="sortTableRegistros(7)">Responsável</th>
                <th onclick="sortTableRegistros(8)">Data</th>
                <th onclick="sortTableRegistros(9)">Entrada/Saída</th>
                @if (isAdmin)
                    {
                        <th style="width:1px">
                            <a onClick="ModalDeleteAllRegistro()">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </th>
                    }
            </tr>
        </thead>
        <tbody id="registros-list" onload="sortTableChamados(8)">
            @foreach (var item in RegistrosOrdenados)
            {
                <tr class="registro-row">
                    <td class="@(item.CodigoSistema == item.CodigoSistema ? "text-danger" : "")">
                        @item.CodigoSistema
                    </td>
                    <td class="@(item.Locacao == item.Locacao ? "text-warning" : "")">
                        @item.Locacao
                    </td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Quantidade</td>
                    <td>@item.NotaOuPedido</td>
                    <td>@item.Observacao</td>
                    <td>@item.Usuario</td>
                    <td>@item.Data.ToShortDateString()</td>
                    <td class="@(item.EntradaOuSaida == "Entrada" ? "text-success" : item.EntradaOuSaida == "Saída" ? "text-primary" : "")">
                        @item.EntradaOuSaida
                    </td>
                    @if (isAdmin)
                    {
                        <td style="width:1px">
                            <a onClick="ModalDeletarRegistro(@item.Id)">
                                <i class="bi bi-trash3-fill"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/RegistroScript.js"></script>
<script src="~/js/ManagerScript.js"></script>