@model IEnumerable<TOLEAGRI.Model.Domain.RegistroPeca>
@{
    ViewData["Title"] = "RegistroIndex";
    var RegistrosOrdenados = Model.OrderBy(c => c.CodigoSistema).ToList();
}

<div id="container" class="container">
    <div>
        <div class="mb-4" style="display:flex;justify-content:space-between">
            <div></div>
            <div style="display:flex">
                <input type="text" id="searchBarRegistro" style="height:40px;width:265px" class="form-control search" placeholder="Buscar" onkeydown="EnterRegistro(event)">
                <input type="date" id="start-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Inicial">
                <input type="date" id="end-date" style="height:40px;width:150px" class="form-control search" placeholder="Data Final">
                <a id="searchIconRegistros" onclick="searchIconRegistros()" style="cursor: pointer;">
                    <img src="~/Images/Pesquisa.png" style="width:25px;margin-top:5px;margin-left:5px" />
                </a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th onclick="sortTableRegistros(0)">Código</th>
                <th onclick="sortTableRegistros(1)">Locação</th>
                <th onclick="sortTableRegistros(2)">Marca</th>
                <th onclick="sortTableRegistros(3)">Modelo</th>
                <th onclick="sortTableRegistros(4)">Quantidade</th>
                <th onclick="sortTableRegistros(5)">NF ou Pedido</th>
                <th onclick="sortTableRegistros(6)">Observação</th>
                <th onclick="sortTableRegistros(7)">Usuário</th>
                <th onclick="sortTableRegistros(8)">Data</th>
                <th onclick="sortTableRegistros(9)">Entrada/Saída</th>
            </tr>
        </thead>
        <tbody id="registros-list">
            @foreach (var item in RegistrosOrdenados)
            {
                <tr class="registro-row">
                    <td>@item.CodigoSistema</td>
                    <td>@item.Locacao</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Quantidade</td>
                    <td>@item.NotaOuPedido</td>
                    <td>@item.Observacao</td>
                    <td>@item.Usuario</td>
                    <td>@item.Data.ToShortDateString()</td>
                    <td>@item.EntradaOuSaida</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/RegistroScript.js"></script>